body{
    margin: 0;
}

.header {
}
.main {
}

.header-container {
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-container {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    margin-left: 40px;
}
.header-menu {
    display: flex;
}
.main-container-heading {
    width: 400px;
    color: #545454;
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
}
.main-container-block {
    display: flex;
    flex-direction: row;
}
.main-container-navigation {
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
    flex-direction: row;
    align-content: flex-end;
}

.header-logo-title {
    color: #545454;
    font-size: 32px;
}
.header-logo-subtitle {
    margin-top: 5px;
    color: #292929;
    font-size: 13px;
}
.header-menu-link {
    color: #292929;
    font-size: 15px;
    margin-right: 35px;
}
.header-menu-link:hover{
    border-bottom: 3px solid #F1CDB3;
}
.main-container-cards {
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    margin-right: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.main-container-navigation-button-backback {
    margin-right: 10px;
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container-navigation-button-nextnext:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #F1CDB3;
}
.main-container-navigation-button-nextnext:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #F1CDB3;
    margin-left: 12px;
}
.main-container-navigation-button-back {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #F1CDB3; */
    margin-right: 10px;
}
.main-container-navigation-button-next:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #F1CDB3;
}
.main-container-navigation-button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1CDB3;
    margin-right: 10px;
}
.main-container-navigation-button-next {
    margin-right: 10px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #F1CDB3; */
}
.main-container-navigation-button-back:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #CDCDCD;
}
.main-container-navigation-button-nextnext {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #F1CDB3; */
}
.main-container-navigation-button-backback:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #CDCDCD;
}
.main-container-navigation-button-backback:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #CDCDCD;
    margin-left: 12px;
}
.main-container-cards-image {
    height: 270px;
    width: 270px;
    background-repeat: no-repeat;
}
.main-container-cards-name {
    font-size: 20px;
    color: #545454;
}
.main-container-cards-button {
    font-size: 17px;
    border: 2px solid #F1CDB3;
    width: 188px;
    height: 52px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 17px; */
    /* color: #292929; */
}
.main-container-navigation-button-backback:hover,
.main-container-navigation-button-back:hover,
.main-container-navigation-button:hover,
.main-container-navigation-button-next:hover,
.main-container-navigation-button-nextnext:hover,
.main-container-cards-button:hover,
.main-container-cards-button:active,
.main-container-cards-button:focus {
    border: 2px solid red;
    background-color: red;

}
.footer {
    background-image: url(footer-gradient-background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    /* width: 100%; */
}
.footer-content {
    /* margin-top: 50px; */
    /* margin: 40px; */
    /* margin-left: 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-content-contact {
    margin-right: 300px;
    margin-top: 50px;
}
.footer-content-location {
    margin-top: 50px;
}
.footer-content-contact-title {
    color: #FFFFFF;
    font-size:35px ;
    font-family: Georgia;
    width: 278px;
}
.footer-content-contact-mail {
    padding-top: 5px;
   color: #F1CDB3; 
   font-size: 20px;
   font-family: Georgia;
   width: 251px;
   height: 32px;
   background-image: url(icon-email.svg);
   background-repeat: no-repeat;
   background-position: 5px center;
   padding-left: 60px;
}
.footer-content-contact-phone {
    padding-top: 5px;
    margin-top: 20px;
    color: #F1CDB3; 
    font-size: 20px;
    font-family: Georgia;
    width: 257px;
    height: 32px;
    background-image: url(icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 60px;
}
.footer-content-location-title {
    color: #FFFFFF;
    font-size:35px ;
    font-family: Georgia;
    width: 270px;
}
.footer-content-location-boston {
    margin-top: 20px;
    color: #F1CDB3; 
    font-size: 20px;
    font-family: Georgia;
    width: 302px;
    height: 46px;  
    background-image: url(icon-marker.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 40px;
}
.footer-content-location-london {
    margin-top: 20px;
    color: #F1CDB3; 
    font-size: 20px;
    font-family: Georgia;
    width: 302px;
    height: 32px; 
    background-image: url(icon-marker.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 40px;
}
.main-container-block1 {
    
}
@media (min-width: 768px)  and (max-width: 1279px) {
    .main-container-block1 {
        display: flex;
        flex-direction: row;
    }
    .main-container-block {
        display: flex;
        flex-direction: column;
    }
    .footer-content-contact {
        width: 278px;
        margin-right: 80px;
        margin-top: 50px;
    }
    .footer-content-location {
        width: 302px;
        margin-top: 50px;
    }
    .footer {
        background-image: url(footer-gradient-background.svg);
        background-repeat: no-repeat;
        background-size: auto;
        height: 350px;
        /* width: 100%; */
    }
    .footer-content {
        /* margin-top: 50px; */
        /* margin: 40px; */
        /* margin-left: 200px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 320px)  and (max-width: 767px) {

    .header-menu {
        display: none;
    }
    .main-container-heading {
        width: 300px;
        color: #545454;
        font-size: 25px;
        margin-top: 50px;
        text-align: center;
    }
    .footer {
        background-image: url(footer-gradient-background.svg);
        background-repeat: no-repeat;
        background-size: auto;
        /* height: 350px; */
        /* width: 100%; */
    }
    .footer-content {
        /* margin-top: 50px; */
        /* margin: 40px; */
        /* margin-left: 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content-location {
        margin-top: 25px;
    }
    .footer-content-location-title {
        color: #FFFFFF;
        font-size: 25px;
        font-family: Georgia;
        width: 258px;
    }
    .footer-content-location-boston {
        margin-top: 20px;
        color: #F1CDB3;
        font-size: 20px;
        font-family: Georgia;
        width: 258px;
        height: 46px;
        background-image: url(icon-marker.svg);
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
    }
    .footer-content-location-london {
        margin-top: 20px;
        color: #F1CDB3;
        font-size: 20px;
        font-family: Georgia;
        width: 258px;
        height: 32px;
        background-image: url(icon-marker.svg);
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
    }
    .main-container-block {
        display: flex;
        flex-direction: column;
    }
    .footer-content-contact {
        margin-right: 0px;
        margin-top: 0px;
    }
    .main-container-cards {
        background-color: #FAFAFA;
        width: 270px;
        height: 435px;
        margin-right: 0px; 
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer-content-contact-title {
        color: #FFFFFF;
        font-size: 25px;
        font-family: Georgia;
        width: 258px;
    }
    .footer-content-contact-phone {
        padding-top: 5px;
        margin-top: 20px;
        color: #F1CDB3;
        font-size: 20px;
        font-family: Georgia;
        width: 257px;
        height: 32px;
        background-image: url(icon-phone.svg);
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 60px;
    }
    .footer-content-contact-mail {
        padding-top: 5px;
        color: #F1CDB3;
        font-size: 20px;
        font-family: Georgia;
        width: 251px;
        height: 32px;
        background-image: url(icon-email.svg);
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 60px;
    }
}